.controls-container {
    z-index: 9;
    background-color: white;
    width: 80vw;
    min-height: 70vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
    align-items: center;
    border-radius: 3px;
   

    h1 {
        color: #212121;
    }

    .steps-container {
        width: 70%;
    }
}